@{
  Layout = "_Layout";
}

@model Library.Models.Title

<h1>Create a Title</h1>

@* @if (@ViewBag.AuthorId.Count == 0)
{
  <p>You must add an Author before creating a title!</p>
}
else
{ *@
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name);
    @Html.TextBoxFor(model => model.Name);<br>
    @Html.LabelFor(model => model.Copies);
    @Html.TextBoxFor(model => model.Copies, new { type="number", min="1", max="100" });
    <br>
    @* @Html.Label("Select Author");
    @Html.DropDownList("AuthorId"); *@
    <br>
    <input type="submit" value="Add a Title"/>
  }
@* } *@

<p>@Html.ActionLink("Back to List", "Index")</p>