@{
  Layout = "_Layout";
}

@model Library.Models.Author;


<h1>Author Details</h1>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Edit this Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete this Author", "Delete", new { id = Model.AuthorId })</p>
